web_servisli_ödevler/web_servisi/CalculatorWebService/WebContent/wsdl/CalculatorWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://calculator.calculatorwebservice.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://calculator.calculatorwebservice.com" xmlns:intf="http://calculator.calculatorwebservice.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://calculator.calculatorwebservice.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="add">
    <complexType>
     <sequence>
      <element name="x" type="xsd:double"/>
      <element name="y" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="addResponse">
    <complexType>
     <sequence>
      <element name="addReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="log">
    <complexType>
     <sequence>
      <element name="base" type="xsd:double"/>
      <element name="number" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="logResponse">
    <complexType>
     <sequence>
      <element name="logReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="mod">
    <complexType>
     <sequence>
      <element name="dividend" type="xsd:double"/>
      <element name="divisor" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="modResponse">
    <complexType>
     <sequence>
      <element name="modReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="multiply">
    <complexType>
     <sequence>
      <element name="x" type="xsd:double"/>
      <element name="y" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="multiplyResponse">
    <complexType>
     <sequence>
      <element name="multiplyReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="sub">
    <complexType>
     <sequence>
      <element name="x" type="xsd:double"/>
      <element name="y" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="subResponse">
    <complexType>
     <sequence>
      <element name="subReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="div">
    <complexType>
     <sequence>
      <element name="dividend" type="xsd:double"/>
      <element name="divisor" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="divResponse">
    <complexType>
     <sequence>
      <element name="divReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="calculate">
    <complexType>
     <sequence>
      <element name="x" type="xsd:double"/>
      <element name="y" type="xsd:double"/>
      <element name="operation" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="calculateResponse">
    <complexType>
     <sequence>
      <element name="calculateReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="logResponse">

      <wsdl:part element="impl:logResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="divRequest">

      <wsdl:part element="impl:div" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="calculateRequest">

      <wsdl:part element="impl:calculate" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addRequest">

      <wsdl:part element="impl:add" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="logRequest">

      <wsdl:part element="impl:log" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="modRequest">

      <wsdl:part element="impl:mod" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="divResponse">

      <wsdl:part element="impl:divResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addResponse">

      <wsdl:part element="impl:addResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="multiplyResponse">

      <wsdl:part element="impl:multiplyResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="modResponse">

      <wsdl:part element="impl:modResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="calculateResponse">

      <wsdl:part element="impl:calculateResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="multiplyRequest">

      <wsdl:part element="impl:multiply" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="subRequest">

      <wsdl:part element="impl:sub" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="subResponse">

      <wsdl:part element="impl:subResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CalculatorWebService">

      <wsdl:operation name="add">

         <wsdl:input message="impl:addRequest" name="addRequest">

       </wsdl:input>

         <wsdl:output message="impl:addResponse" name="addResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="log">

         <wsdl:input message="impl:logRequest" name="logRequest">

       </wsdl:input>

         <wsdl:output message="impl:logResponse" name="logResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="mod">

         <wsdl:input message="impl:modRequest" name="modRequest">

       </wsdl:input>

         <wsdl:output message="impl:modResponse" name="modResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="multiply">

         <wsdl:input message="impl:multiplyRequest" name="multiplyRequest">

       </wsdl:input>

         <wsdl:output message="impl:multiplyResponse" name="multiplyResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sub">

         <wsdl:input message="impl:subRequest" name="subRequest">

       </wsdl:input>

         <wsdl:output message="impl:subResponse" name="subResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="div">

         <wsdl:input message="impl:divRequest" name="divRequest">

       </wsdl:input>

         <wsdl:output message="impl:divResponse" name="divResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="calculate">

         <wsdl:input message="impl:calculateRequest" name="calculateRequest">

       </wsdl:input>

         <wsdl:output message="impl:calculateResponse" name="calculateResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CalculatorWebServiceSoapBinding" type="impl:CalculatorWebService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="add">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="log">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="logRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="logResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="mod">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="modResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="multiply">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="multiplyRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="multiplyResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sub">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="subRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="subResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="div">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="divRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="divResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="calculate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="calculateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="calculateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CalculatorWebServiceService">

      <wsdl:port binding="impl:CalculatorWebServiceSoapBinding" name="CalculatorWebService">

         <wsdlsoap:address location="http://localhost:8082/CalculatorWebService/services/CalculatorWebService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
