web_servisli_ödevler/dotnet_web_service_calculator/webServiceExample/webServiceExample/Web References/WebReference/CalculatorWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:intf="http://calculator.calculatorwebservice.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://calculator.calculatorwebservice.com" targetNamespace="http://calculator.calculatorwebservice.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://calculator.calculatorwebservice.com">
      <xsd:element name="add">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="x" type="xsd:double" />
            <xsd:element name="y" type="xsd:double" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="addResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="addReturn" type="xsd:double" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="log">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="base" type="xsd:double" />
            <xsd:element name="number" type="xsd:double" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="logResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="logReturn" type="xsd:double" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="mod">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="dividend" type="xsd:double" />
            <xsd:element name="divisor" type="xsd:double" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="modResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="modReturn" type="xsd:double" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="multiply">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="x" type="xsd:double" />
            <xsd:element name="y" type="xsd:double" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="multiplyResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="multiplyReturn" type="xsd:double" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="sub">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="x" type="xsd:double" />
            <xsd:element name="y" type="xsd:double" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="subResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="subReturn" type="xsd:double" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="div">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="dividend" type="xsd:double" />
            <xsd:element name="divisor" type="xsd:double" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="divResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="divReturn" type="xsd:double" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="calculate">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="x" type="xsd:double" />
            <xsd:element name="y" type="xsd:double" />
            <xsd:element name="operation" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="calculateResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="calculateReturn" type="xsd:double" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="logResponse">
    <wsdl:part name="parameters" element="impl:logResponse" />
  </wsdl:message>
  <wsdl:message name="divRequest">
    <wsdl:part name="parameters" element="impl:div" />
  </wsdl:message>
  <wsdl:message name="calculateRequest">
    <wsdl:part name="parameters" element="impl:calculate" />
  </wsdl:message>
  <wsdl:message name="addRequest">
    <wsdl:part name="parameters" element="impl:add" />
  </wsdl:message>
  <wsdl:message name="logRequest">
    <wsdl:part name="parameters" element="impl:log" />
  </wsdl:message>
  <wsdl:message name="modRequest">
    <wsdl:part name="parameters" element="impl:mod" />
  </wsdl:message>
  <wsdl:message name="divResponse">
    <wsdl:part name="parameters" element="impl:divResponse" />
  </wsdl:message>
  <wsdl:message name="addResponse">
    <wsdl:part name="parameters" element="impl:addResponse" />
  </wsdl:message>
  <wsdl:message name="multiplyResponse">
    <wsdl:part name="parameters" element="impl:multiplyResponse" />
  </wsdl:message>
  <wsdl:message name="modResponse">
    <wsdl:part name="parameters" element="impl:modResponse" />
  </wsdl:message>
  <wsdl:message name="calculateResponse">
    <wsdl:part name="parameters" element="impl:calculateResponse" />
  </wsdl:message>
  <wsdl:message name="multiplyRequest">
    <wsdl:part name="parameters" element="impl:multiply" />
  </wsdl:message>
  <wsdl:message name="subRequest">
    <wsdl:part name="parameters" element="impl:sub" />
  </wsdl:message>
  <wsdl:message name="subResponse">
    <wsdl:part name="parameters" element="impl:subResponse" />
  </wsdl:message>
  <wsdl:portType name="CalculatorWebService">
    <wsdl:operation name="add">
      <wsdl:input name="addRequest" message="impl:addRequest" />
      <wsdl:output name="addResponse" message="impl:addResponse" />
    </wsdl:operation>
    <wsdl:operation name="log">
      <wsdl:input name="logRequest" message="impl:logRequest" />
      <wsdl:output name="logResponse" message="impl:logResponse" />
    </wsdl:operation>
    <wsdl:operation name="mod">
      <wsdl:input name="modRequest" message="impl:modRequest" />
      <wsdl:output name="modResponse" message="impl:modResponse" />
    </wsdl:operation>
    <wsdl:operation name="multiply">
      <wsdl:input name="multiplyRequest" message="impl:multiplyRequest" />
      <wsdl:output name="multiplyResponse" message="impl:multiplyResponse" />
    </wsdl:operation>
    <wsdl:operation name="sub">
      <wsdl:input name="subRequest" message="impl:subRequest" />
      <wsdl:output name="subResponse" message="impl:subResponse" />
    </wsdl:operation>
    <wsdl:operation name="div">
      <wsdl:input name="divRequest" message="impl:divRequest" />
      <wsdl:output name="divResponse" message="impl:divResponse" />
    </wsdl:operation>
    <wsdl:operation name="calculate">
      <wsdl:input name="calculateRequest" message="impl:calculateRequest" />
      <wsdl:output name="calculateResponse" message="impl:calculateResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalculatorWebServiceSoapBinding" type="impl:CalculatorWebService">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="add">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="addRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="addResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="log">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="logRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="logResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mod">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="modRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="modResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multiply">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="multiplyRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="multiplyResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sub">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="subRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="subResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="div">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="divRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="divResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculate">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="calculateRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="calculateResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalculatorWebServiceService">
    <wsdl:port name="CalculatorWebService" binding="impl:CalculatorWebServiceSoapBinding">
      <wsdlsoap:address location="http://209.97.129.103:8080/CalculatorWebService/services/CalculatorWebService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>